@import url(./_variables.css);

.btn {
  border: none;
  color: var(--text-color);
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

/* Primary */

.btn--primary {
  background-color: var(--main-colour);
}

.btn--primary:hover {
  background-color: var(--hover-color);
}

.btn--primary:disabled, .btn--primary:disabled:hover  {
  background-color: var(--disabled-color);
}

/* Secondary */

.btn--secondary {
  background-color: transparent;
  outline: solid 1px var(--main-colour);
}

.btn--secondary:hover {
  outline: solid 1px var(--hover-color);
}

.btn--secondary:disabled, .btn--secondary:disabled:hover{
  outline: solid 1px var(--disabled-color);
}

/* Size */

.btn--small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 20px;
  font-size: 14px;
}

.btn--large {
  padding: 15px 25px;
  font-size: 16px;
}

/* Shape */

.btn--round {
  border-radius: 3px;
}

.btn--rounder {
  border-radius: 8px;
}

.btn--roundest {
  border-radius: 100px;
}

/* Other */
.btn--block {
  width: 100%;
}